.section_wrapper {
	display: flex;
	justify-content: space-between;
	gap: 20px;

	@media screen and (max-width: 1024px) {
		flex-direction: column;
		align-items: center;
	}

	@media screen and (max-width: 640px) {
		gap: 0;
	}
}

.left_content {
	display: flex;
	flex-direction: column;
	justify-content: center;

	@media screen and (max-width: 1024px) {
		align-items: center;
	}
}

.slogan {
	max-width: 542.72px;
	max-height: 292.74px;
	width: 100%;
	height: 100%;
	margin-bottom: 60px;

	@media screen and (max-width: 640px) {
		margin-bottom: 30px;
	}

	img,
	svg {
		width: 100%;
		height: 100%;
		object-fit: contain;
		object-position: center;
	}
}

.places {
	width: 100%;
	max-width: 448px;

	@media screen and (max-width: 1024px) {
		max-width: 640px;
	}
}

.text {
	line-height: 32px;
	color: $black;
	margin-bottom: 48px;
	opacity: 0;
	transform: translateX(-60px);

	@media screen and (max-width: 640px) {
		font-size: 0.9375rem;
		margin-bottom: 40px;
	}
}

.search_container {
	position: relative;
	width: 100%;
	height: 64px;
	box-shadow: 0px 30px 40px rgba(240, 101, 126, 0.05);
	opacity: 0;
	transform: translateX(60px);

	input {
		width: 100%;
		height: 100%;
		border: none;
		outline: none;
		padding: 12px 140px 12px 48px;
		border-radius: 40px;

		&:focus {
			& ~ .search_marker {
				animation: bounce 1s infinite;

				@keyframes bounce {
					0%,
					100% {
						transform: translateY(-25%);
						animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
					}
					50% {
						transform: translateY(0);
						animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
					}
				}
			}
		}

		&::placeholder {
			font-size: 0.875rem;
			color: $gray;
		}
	}
}

.search_marker {
	position: absolute;
	left: 20px;
	top: 30%;
	width: 14px;
	height: 20px;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
		object-position: center;
	}
}

.right_content {
	max-width: 458.44px;
	max-height: 565px;
	width: 100%;
	height: 100%;
	position: relative;
	opacity: 0;

	@media screen and (max-width: 640px) {
		padding-left: 78px;
		height: 565px;
	}
}

.card {
	border-radius: 50px;
	width: 272px;
	height: 320px;
	position: absolute;
	bottom: -54px;
	left: -54px;

	@media screen and (max-width: 640px) {
		width: 216px;
		height: 254px;
		bottom: 18%;
		left: 0;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
		object-position: center;
	}
}

.card_content {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	padding: 32px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@media screen and (max-width: 640px) {
		padding: 29px;
	}
}

.card_logo {
	width: 48px;
	height: 56px;

	@media screen and (max-width: 640px) {
		width: 32.67px;
		height: 38.12px;
	}
}

.card_title {
	font-family: 'Poppins-Bold';
	line-height: 140%;
	font-size: 1.25rem;
	color: $white;

	@media screen and (max-width: 640px) {
		font-size: 0.9375rem;
	}
}

.card_counter {
	font-family: 'Poppins-Bold';
	line-height: 140%;
	font-size: 3.5rem;
	color: $white;

	@media screen and (max-width: 640px) {
		font-size: 2.5rem;
	}
}
