.button {
	width: 100%;
	border-radius: 40px;
	padding: 15px;
	line-height: 140%;
	font-family: 'Poppins-Bold';
}

.header_apply {
	max-width: 145px;
	background: $white;
	box-shadow: 0px 30px 40px rgba(240, 101, 126, 0.05);
	transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1),
		color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	color: $black;

	@media screen and (max-width: 768px) {
		max-width: none;
		transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	}

	&:hover {
		color: $royalBlue;
		opacity: 0.8;
	}
}

.search_btn {
	position: absolute;
	right: 8px;
	top: 13%;
	max-width: 122px;
	background: $sunglo;
	color: $white;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.8125rem;
	transition: background 0.3s cubic-bezier(0.4, 0, 0.2, 1);

	@media screen and (max-width: 640px) {
		font-size: 0.75rem;
		max-width: 100px;
	}

	&:hover {
		background: $royalBlue;
	}
}

.login_btn {
	white-space: nowrap;
	background: $sunglo;
	color: $white;
	text-transform: uppercase;
	width: 100%;
	transition: background 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	letter-spacing: 1px;
	font-size: 0.8125rem;

	&:hover {
		background: $royalBlue;
	}

	@media screen and (max-width: 640px) {
		font-size: 0.75rem;
	}
}

.questions_btn {
	max-width: 168px;
	background: $sunglo;
	color: $white;
	text-transform: uppercase;
	width: 100%;
	transition: background 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	letter-spacing: 1px;
	font-size: 0.8125rem;

	&:hover {
		background: $royalBlue;
	}

	@media screen and (max-width: 640px) {
		font-size: 0.75rem;
	}
}
