.top_section {
	background: $bg;
	padding-top: 70px;
	padding-bottom: 128px;
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;

	@media screen and (max-width: 640px) {
		padding-bottom: 28px;
		overflow: hidden;
	}
}

/////////////////////////////////////////////////////////

.tags_section {
	padding-top: 64px;
	padding-bottom: 192px;

	@media screen and (max-width: 640px) {
		padding-top: 28px;
		padding-bottom: 100px;
	}
}

/////////////////////////////////////////////////////////

.travel_slider_section,
.team_section,
.challenges_section,
.get_started_section,
.questions_section {
	padding-bottom: 192px;

	@media screen and (max-width: 640px) {
		padding-bottom: 100px;
	}
}

.ecology_section {
	padding-top: 104px;
	padding-bottom: 104px;
	background: $waxFlower;
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	overflow: hidden;

	@media screen and (max-width: 640px) {
		padding-top: 72px;
		padding-bottom: 72px;
	}
}
