$black: #000000;
$bg: #f7f3f4;
$gray: #807c7c;
$gray2: #333333;
$text: #222433;
$text2: #333333;
$text3: #1e1a20;
$white: #ffffff;
$sunglo: #f2726c;
$waxFlower: #ffbd9e;
$cornflowerLilac: #ffadad;
$periwinkle: #cbcbff;
$royalBlue: #7675fd;
